* {
  margin: 0;
  padding: 0;
}
input,textarea:-webkit-autofill {  
   -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 1) inset;  
}
input,button,select,textarea{outline:none}  


@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1475203642_438593.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1475203642_438593.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1475203642_438593.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1475203642_438593.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1475203642_438593.svg#iconfont') format('svg'); /* iOS 4.1- */
}


// color
$black: #4a4a4a;

$gray: #9b9b9b;
$gray-light: #ccc;
$gray-bg: #f7f7f7;
$gray-field: #e4e4e4;
$gray-holder: rgba(123, 135, 146, 1);
$green: #0AA082;
$green-light: #96BEB4;

$red: #F05F50;
$red-dark: $red;
$red-fade: #FF966B;
$red-fade-light: $red-fade;

$white: #fff;
$white-bg: #f9f9f9;

$blue: rgba(0, 175, 244, 1);
$blue-line: rgba(232, 239, 248, 1);
$blue-button-out: rgba(173, 217, 234, 1);
$blue-button-in: rgba(0, 124, 182, 1);
$blue-icon: #56abe4;
$weixin: #91e231;
$alipay: #4a90e2;
$simulate: #ff966b;